# CMake Files
CMakeFiles/
cmake_install.cmake
CMakeCache.txt

# Build files
Makefile
*.so
build/

# Don't include any virtual envs
venv/

# VSCode stuff
.vscode

# Test Models
*.bmd
*.bdl

# Python / test stuff
__pycache__
test/J3DUltra
test/pybind11

# configs
*.ini
*.arc